div {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  /* margin: 0 auto; */
  position: relative;

  animation-name: mow;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

@keyframes mow {
  0% {
    left: 0;
  }
  /* 25% {
      
      background: red
    }
    50% {
      
    }
    75% {
      
      background: green
    } */
  100% {
    left: 500px;
  }
}

@keyframes iliketomoveit {
  0% {
    left: 0px;
  }
  25% {
    left: 400px;
    background: red;
  }
  75% {
    left: 200px;
  }
  100% {
    r: 0px;
    background: green;
  }
}
